[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pre-commit = "==3.5.0"
importlib-metadata = "==7.0.1"
nox = "==2023.4.22"
towncrier = "==23.11.0"

[packages]
requests = "==2.31.0"
validators = "==0.22.0"
pyjwt = {extras = ["crypto"], version = "==2.8.0"}
msal = "==1.26.0"

[requires]
python_version = "3.8"
