[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mkdocs = "*"
mkdocs-material = "*"
mkdocstrings = "*"
pygments = "*"
mike = "*"

[packages]
requests = "*"
validators = "*"

[requires]
python_version = "3.8"
