[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
flake8 = "*"
pre-commit = "*"
pytest-cov = "*"
importlib-metadata = "*"
sphinx = "*"
furo = "*"

[packages]
requests = "*"
validators = "*"
pyjwt = {extras = ["crypto"], version = "*"}
msal = "*"
versioneer = "*"

[requires]
python_version = "3.8"
